* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 700px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery > * {
    display: none;
}

.gallery img{
    aspect-ratio: 21/9;
	object-fit: cover;
}

.active{
    display: block;
}

.gallery{
    position: relative;
}

.btn-up,
.btn-down{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);

    vertical-align: middle;
    text-align: center;
    padding-top: 10px;

    position: absolute;
    z-index: 10;
    left: calc(50% - 20px);

    cursor: pointer;
}

.btn-down{
    bottom: 0;
}